<section class="proyectos d-grid align-items-center seccion">
    <div class="proyectofoto">
        <h2 class="titulo">Proyectos</h2>
        <img src="../../../assets/proyecttemplate.png" class="img-fluid vector" alt="">
    </div>
    <div class="proyectotexto">
                <h3 class="proyectosubtitulo">Weather App </h3><h3>(en desarrollo)</h3>
                <p> Weather App usando HTML/CSS/ANGULAR/JS/TS que toma datos de la API de OpenWeatherAPI
                    pasandole el nombre de la ciudad, mostrara temperatura minima, maxima, humedad y viento.
                    
                </p>
    </div>
</section>
