<section class="habilidades d-grid align-content-center align-items-center seccion">
    <div class="habilidadesfoto">
        <h2 class="titulo">Habilidades</h2>
        <img src="../../../assets/skillsfoto.png" class="img-fluid vector" alt="">
    </div>
    <div class="habilidadescircle d-flex justify-content-center align-items-center flex-wrap">

        <circle-progress
                [title]="'HTML'"
                [titleColor]="'#fff'"
                [imageSrc]="'../assets/iconosSkills/html.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"
                [innerStrokeColor]="'#808080'"
                [outerStrokeColor]="'#fff'"
                [titleFontSize]="'1em'"
                [subtitleColor]="'#fff'"
                [outerStrokeGradientStopColor] = "'transparent'"
                [percent]="90"
                [radius]="70"
                [innerStrokeWidth]="5"
                [outerStrokeWidth]="5"
                [space]="-5"
                [backgroundStrokeWidth]="0"
                [outerStrokeLinecap]="'round'"
                [animation]="true"
                [animationDuration]="700"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [startFromZero] = "true"
                [showZeroOuterStroke] = "true"
                [responsive]="false"
                [clockwise]="true"
        ></circle-progress>
        
        
        <circle-progress
                [title]="'HTML'"
                [titleColor]="'#fff'"
                [imageSrc]="'../assets/iconosSkills/CSS.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"
                [innerStrokeColor]="'#808080'"
                [outerStrokeColor]="'#fff'"
                [titleFontSize]="'1em'"
                [subtitleColor]="'#fff'"
                [outerStrokeGradientStopColor] = "'transparent'"
                [percent]="85"
                [radius]="70"
                [innerStrokeWidth]="5"
                [outerStrokeWidth]="5"
                [space]="-5"
                [backgroundStrokeWidth]="0"
                [outerStrokeLinecap]="'round'"
                [animation]="true"
                [animationDuration]="700"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [startFromZero] = "true"
                [showZeroOuterStroke] = "true"
                [responsive]="false"
                [clockwise]="true"
    
        ></circle-progress>

        <circle-progress
                [title]="'HTML'"
                [titleColor]="'#fff'"
                [imageSrc]="'../assets/iconosSkills/js.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"
                [innerStrokeColor]="'#808080'"
                [outerStrokeColor]="'#fff'"
                [titleFontSize]="'1em'"
                [subtitleColor]="'#fff'"
                [outerStrokeGradientStopColor] = "'transparent'"
                [percent]="50"
                [radius]="70"
                [innerStrokeWidth]="5"
                [outerStrokeWidth]="5"
                [space]="-5"
                [backgroundStrokeWidth]="0"
                [outerStrokeLinecap]="'round'"
                [animation]="true"
                [animationDuration]="700"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [startFromZero] = "true"
                [showZeroOuterStroke] = "true"
                [responsive]="false"
                [clockwise]="true"
    
        ></circle-progress>

        <circle-progress
        [title]="'HTML'"
        [titleColor]="'#fff'"
        [imageSrc]="'../assets/iconosSkills/ps.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [innerStrokeColor]="'#808080'"
        [outerStrokeColor]="'#fff'"
        [titleFontSize]="'1em'"
        [subtitleColor]="'#fff'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [percent]="45"
        [radius]="70"
        [innerStrokeWidth]="5"
        [outerStrokeWidth]="5"
        [space]="-5"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [animation]="true"
        [animationDuration]="700"
        [showTitle]="false"
        [showSubtitle]="false"
        [showUnits]="false"
        [startFromZero] = "true"
        [showZeroOuterStroke] = "true"
        [responsive]="false"
        [clockwise]="true"
        ></circle-progress>


<circle-progress
        [title]="'HTML'"
        [titleColor]="'#fff'"
        [imageSrc]="'../assets/iconosSkills/office.svg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [innerStrokeColor]="'#808080'"
        [outerStrokeColor]="'#fff'"
        [titleFontSize]="'1em'"
        [subtitleColor]="'#fff'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [percent]="85"
        [radius]="70"
        [innerStrokeWidth]="5"
        [outerStrokeWidth]="5"
        [space]="-5"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [animation]="true"
        [animationDuration]="700"
        [showTitle]="false"
        [showSubtitle]="false"
        [showUnits]="false"
        [startFromZero] = "true"
        [showZeroOuterStroke] = "true"
        [responsive]="false"
        [clockwise]="true"

></circle-progress>

<circle-progress
        [title]="'HTML'"
        [titleColor]="'#fff'"
        [imageSrc]="'../assets/iconosSkills/angular.svg'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [innerStrokeColor]="'#808080'"
        [outerStrokeColor]="'#fff'"
        [titleFontSize]="'1em'"
        [subtitleColor]="'#fff'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [percent]="70"
        [radius]="70"
        [innerStrokeWidth]="5"
        [outerStrokeWidth]="5"
        [space]="-5"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [animation]="true"
        [animationDuration]="700"
        [showTitle]="false"
        [showSubtitle]="false"
        [showUnits]="false"
        [startFromZero] = "true"
        [showZeroOuterStroke] = "true"
        [responsive]="false"
        [clockwise]="true"

></circle-progress>


        <circle-progress
                    [title]="'HTML'"
                    [titleColor]="'#fff'"
                    [imageSrc]="'../assets/iconosSkills/git.png'"
                    [showImage]="true"
                    [imageHeight]="60"
                    [imageWidth]="60"
                    [innerStrokeColor]="'#808080'"
                    [outerStrokeColor]="'#fff'"
                    [titleFontSize]="'1em'"
                    [subtitleColor]="'#fff'"
                    [outerStrokeGradientStopColor] = "'transparent'"
                    [percent]="80"
                    [radius]="70"
                    [innerStrokeWidth]="5"
                    [outerStrokeWidth]="5"
                    [space]="-5"
                    [backgroundStrokeWidth]="0"
                    [outerStrokeLinecap]="'round'"
                    [animation]="true"
                    [animationDuration]="700"
                    [showTitle]="false"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [startFromZero] = "true"
                    [showZeroOuterStroke] = "true"
                    [responsive]="false"
                    [clockwise]="true"
                    
        ></circle-progress>

        <circle-progress
                [title]="'HTML'"
                [titleColor]="'#fff'"
                [imageSrc]="'../assets/iconosSkills/eng.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"
                [innerStrokeColor]="'#808080'"
                [outerStrokeColor]="'#fff'"
                [titleFontSize]="'1em'"
                    [subtitleColor]="'#fff'"
                    [outerStrokeGradientStopColor] = "'transparent'"
                    [percent]="95"
                    [radius]="70"
                    [innerStrokeWidth]="5"
                    [outerStrokeWidth]="5"
                    [space]="-5"
                    [backgroundStrokeWidth]="0"
                    [outerStrokeLinecap]="'round'"
                    [animation]="true"
                    [animationDuration]="700"
                    [showTitle]="false"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [startFromZero] = "true"
                    [showZeroOuterStroke] = "true"
                    [responsive]="false"
                    [clockwise]="true"
                    
        ></circle-progress>

        <circle-progress
                    [title]="'HTML'"
                    [titleColor]="'#fff'"
                    [imageSrc]="'../assets/iconosSkills/grupal.png'"
                    [showImage]="true"
                    [imageHeight]="60"
                    [imageWidth]="60"
                    [innerStrokeColor]="'#808080'"
                    [outerStrokeColor]="'#fff'"
                    [titleFontSize]="'1em'"
                    [subtitleColor]="'#fff'"
                    [outerStrokeGradientStopColor] = "'transparent'"
                    [percent]="75"
                    [radius]="70"
                    [innerStrokeWidth]="5"
                    [outerStrokeWidth]="5"
                    [space]="-5"
                    [backgroundStrokeWidth]="0"
                    [outerStrokeLinecap]="'round'"
                    [animation]="true"
                    [animationDuration]="700"
                    [showTitle]="false"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [startFromZero] = "true"
                    [showZeroOuterStroke] = "true"
                    [responsive]="false"
                    [clockwise]="true"
                    
        ></circle-progress>




    </div>
</section>

    
    
    
    
    
    