<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
        <div class="col">
            <div id="fotoPerfil">
                <img src="../../../assets/profilePicture.png" class="imagensrc">
            </div>
            <div class="infoperfil">
                <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
                <p id="nombre_abajo">Full Stack Developer Jr</p>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-end align-items-center acercademi">
            <span class="text-center"><h2 class="tituloam">About me</h2>
                <p>En búsqueda de una carrera desafiante en el campo de TI que amplíe aún más mi experiencia profesional.
                    Experiencia que he adquirido como Help Desk, Desktop Support y Servicio al Cliente.
                    Mi dedicación al empleador se demuestra por mi capacidad para adaptarme y ejecutar rápidamente las tareas en cuestión. 
                    Rápida resolución de incidencias y facilidad para aprender nuevas tecnologías.
                </p>
            </span>
        </div>
    </div>
</div>
